{% extends "layout.html" %}
{% block title %}Add Learning Content{% endblock %}
{% block head %}
	{{ super() }}
	<style type="text/css">
		#resourcesTable td {
			vertical-align:;
		}
	</style>
	<script type='text/javascript' src="/static/js/lib/bootstrap/bootstrap-alert.js"></script>
	<script type='text/javascript' src="/static/js/lib/sammy-latest.min.js"></script>
	<script type='text/javascript' src="/static/js/lib/fileuploader.js"></script>
	<script type='text/javascript' src="/static/js/create-and-edit-viewmodel.js"></script>
{% endblock %}
{% block content %}
	<h1>Package Editor</h1>
	<div class='row-fluid'>
		<div class='span4'>
			<div id="statusBox">
				<h4 class='alert-heading'></h4>
				<div data-bind="text: notification">
				</div>
			</div>
		</div>
	</div>
 	<p>
 		Fill out the following fields:
 	</p>
 	<form id='CreateForm' class='lo-form-edit' action='#/post/form' method="POST">
 		<div class='row-fluid' data-bind="visible: learningPackage.errors().length > 0">
 			<div class='alert alert-block span4'>
 				<h4 class='alert-heading'>You need to fix these before continuing:</h4>
		 		<ul id='errorContainer' data-bind="foreach: learningPackage.errors">
		 			<li data-bind="text: $data" />
		 		</ul>
		 	</div>
 		</div>
 		<p><label>*Title:</label><br/><input type="text" data-bind="value: learningPackage.title"/></p>
 		<p><label>Description:</label><br/><textarea data-bind="value: learningPackage.description"></textarea></p>
 		<p><label>Tags:</label><br/><input data-bind="value: learningPackage.tags" /></p>
 	</form>
 	<button id="savePackageButton" data-bind="click: saveContent, enable: learningPackage.resources().length > 0">Save Learning Package</button>
 	<button id="deletePackageButton" data-bind="click: deleteContent, enable: mode() == 'update', visible: mode() == 'update'">Delete</button>
 	<table id="resourcesTable" data-bind="visible: learningPackage.resources().length > 0">
 		<thead>
 			<tr>
 				<th>Type:</th>
 				<th>Name:</th>
 				<th>Content:</th>
 				<th></th>
 				<th></th>
 				<th></th>
 			</tr>
 		</thead>
 		<tbody data-bind="foreach: learningPackage.resources">
 			<tr>
 				<td>
 					<select data-bind="options: $root.resourceTypes, value: type, enable: id() == undefined"></select>
 				</td>
 				<td><input type='text' data-bind="value: name" /></td>
 				<td class='input-container'>
 					<span data-bind="visible: type() == 'url' && id() == undefined">
 						Url: <input type='text' data-bind="value: currentUrlValue" />
 					</span>
 					<form data-bind="visible: type() == 'file' && id() == undefined">
 						<input type='file' data-bind="value: currentFileValue" />
 					</form>
 					<span data-bind="visible: id() !== undefined">
 						<a data-bind="attr: { href: locator() }, text: locator"></a>
 					</span>
 				</td>
 				<td><a href="#" data-bind="click: $root.removeResource">Remove</a></td>
 				<td class='status'></td>
 				<td data-bind="html: errorList, visible: errors().length > 0"></td>
 			</tr>
 		</tbody>
 	</table>
 	<button id="addResourceButton" data-bind="click: addResource">Add a resource</button>
 	<script type='text/javascript'>
		ko.applyBindings(new CreateAndEditViewModel());
	</script>
{% endblock %}
