{% extends "layout.html" %}
{% block title %}Add Learning Content{% endblock %}
{% block head %}
	{{ super() }}
	<script type='text/javascript' src="/static/js/lib/sammy-latest.min.js"></script>
	<script type='text/javascript' src="/static/js/create-and-edit-viewmodel.js"></script>
{% endblock %}
{% block content %}
	<h1>Package Editor</h1>
	<div id="statusBox" data-bind="text: notification">
	</div>
 	<p>
 		Fill out the following fields:
 	</p>
 	<form id='CreateForm' class='lo-form-edit' action='#/post/form' method="POST">
 		<ul class='error-container' data-bind="foreach: learningPackage.errors, visible: learningPackage.errors().length > 0">
 			<li data-bind="text: $data" />
 		</ul>
 		<p><label>*Title:</label><br/><input type="text" data-bind="value: learningPackage.title"/></p>
 		<p><label>Description:</label><br/><textarea data-bind="value: learningPackage.description"></textarea></p>
 		<p><label>Tags:</label><br/><input data-bind="value: learningPackage.tags" /></p>
 	</form>
 	<button data-bind="click: addResource">Add a resource</button>
 	<button data-bind="click: saveContent, enable: learningPackage.resources().length > 0">Save Learning Content</button>
 	<button data-bind="click: deleteContent, enable: mode() == 'update', visible: mode() == 'update'">Delete</button>
 	<table data-bind="visible: learningPackage.resources().length > 0">
 		<thead>
 			<tr>
 				<th>Resource Type</th>
 				<th>Resource Content</th>
 				<th></th>
 				<th></th>
 			</tr>
 		</thead>
 		<tbody data-bind="foreach: learningPackage.resources">
 			<tr>
 				<td><select data-bind="options: $root.resourceTypes, value: type"></select></td>
 				<td>
 					<span data-bind="visible: type() == 'url' && id() == undefined">
 						<label>Url:</label> <input type='text' data-bind="value: currentUrlValue" />
 					</span>
 					<span data-bind="visible: type() == 'file' && id() == undefined">
 						<label>File:</label> <input type='file' data-bind="value: currentFileValue" />
 					</span>
 					<span data-bind="visible: id() !== undefined">
 						<a data-bind="attr: { href: locator() }, text: locator"></a>
 					</span>
 				</td>
 				<td><a href="#" data-bind="click: $root.removeResource">Remove</a></td>
 				<td data-bind="html: errorList, visible: errors().length > 0"></td>
 			</tr>
 		</tbody>
 	</table>
 	<script type='text/javascript'>
		ko.applyBindings(new CreateAndEditViewModel());
	</script>
{% endblock %}
