{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<div class='row-fluid'>
		<h1>Welcome to the Learning Content Repository</h1>
	 	<p class='span6'>
	 		The Learning Content Repository (LCR) is a research effort designed to ease 
	 		in discovery, access, re-use, and creation of Learning Content. The initial focus will
	 		emphasize SCORM content, but future iterations shall include rich support for other
	 		types of learning resources as well.
	 	</p>
 	</div>
{% endblock %}
